body {
    font-size: 16px;
    color: black;
    background-color: rgb(156, 128, 85);
    font-family: Arial, Helvetica, sans-serif;
}
  
  /** HEADER **/
#header-nav {
    background-color: khaki;
    border-radius: 0;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-header h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  h2 {
    margin-bottom: 15px;
    position: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    text-align: center;
    background-color: brown;
  }
  
p {
    border: 1px solid black;
    background-color: wheat;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;
}
  
.row {
    width: 100%;
}
  
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
      float: left;
      border: 1px solid black;
    }
    .col-lg-1 {
      width: 33.33%;
    }
    .col-lg-2 {
      width: 33.33%;
    }
    .col-lg-3 {
      width: 33.33%;
    }
}
  
@media (min-width: 600px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3{
      float: left;
      border: 1px solid black;
    }
    .col-md-1 {
      width: 100%;
    }
    .col-md-2 {
      width: 50%;
    }
    .col-md-3 {
      width: 50%;
    }
}
  
@media (min-width: 300px) and (max-width: 600px) {
    .col-min-1, .col-min-2, .col-min-3{
      float: left;
      border: 1px solid black;
    }
    .col-min-1 {
      width: 100%;
    }
    .col-min-2 {
      width: 100%;
    }
    .col-min-3 {
      width: 100%;
    }
}

.navbar-brand {
    padding-top: 25px;
  }
  
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
  
.navbar-brand p span { /* Star-K */
    vertical-align: middle;
}
  
  
#nav-list {
    margin-top: 10px;
}
  
#nav-list a {
    color: #951C49;
    text-align: center;
}
  
#nav-list a:hover {
    background: #E7E7E7;
}
  
#nav-list a span {
    font-size: 1.8em;
}
  
  
#phone {
    margin-top: 5px;
}
  
#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0;
}
  
#phone div { /* We Deliver */
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}
  
  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
  
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

.navbar-brand {
    padding-top: 10px;
    height: 80px;
}

.navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
}

.navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
}

.navbar-brand p img { /* Star-K */
    height: 20px;
}

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
}

#collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
}

#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
}
  
#xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

}